[Unit]
Description=Ollama Log Watcher
After=ollama.service

[Service]
ExecStart=/usr/bin/python3 __INSTALL_DIR__/ollama_watcher.py
User=__USER__
Group=__USER__
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
