[Unit]
Description=Ollama Log Watcher
After=ollama.service

[Service]
ExecStart=/usr/bin/python3 /home/dst/.ollama-watch-tool/scripts/ollama_watcher.py
User=dst
Group=dst
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
